  .text-input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    margin-top: 0.2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 5px;
  }

  .textarea {
    @extend .text-input;
    height: 80px;
  }
  
  .inputGroupContainer{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background: $light-grey;
    margin: 15px;
    border-radius: 10px;
  }
  .inputGroupChildren{
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  .btnContainer{
    text-align: center;
    margin: 20px 0;
  }

  .inputGroupParent{
    width: 48%;
    text-align: right;
  }

  .button {
    background: $pink;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 35px;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    border-color: transparent;
    @media (max-width: 45rem) {
      width: 60%;
  }
  }

  .button:hover{
    color: white;
    background: $blue;
  }

